In [ ]:
a = 1
b = 7

if a < b:
    print('right!')

if b < a:
    print('right!')

if b:
    print('benar')

right!
benar

# Else If Clauses

In [ ]:
uang = 20
ukt = 1000

if uang >= ukt:
    print('bisa bayar')
else:
    print('belum bisa bayar')

belum bisa bayar

In [ ]:
uang = 2000
ukt = 1000

if uang >= ukt:
    print('bisa bayar')
else:
    print('belum bisa bayar')

bisa bayar

In [ ]:
uang = 1000
ukt = 1000

if uang >= ukt:
    print('bisa bayar')

elif uang < ukt:
    print('tak bisa bayar')

bisa bayar

# One-Line if Statements

In [ ]:
if 'a' in 'aditya' : print(1); print(2); print('3')

1
2
3

In [ ]:
a = 8

if a >= 7: print('yes'); print('right'); print('beb')
elif x == 2: print('kicil'); print('bingits')

yes
right
beb

# Conditional Expression Ternary Operator

In [ ]:
sunny = True
print("let's go to the", "hill" if sunny else "plaza")

let's go to the hill

In [ ]:
sunny = False
print("let's go to the", "hill" if sunny else "plaza")

let's go to the plaza

In [ ]:
age = 20
x = 'teen' if age <19 else 'adult'
x

'adult'

# The Python Pass Statement

In [ ]:
if True:
print('foo')

IndentationError: expected an indented block after 'if' statement on line 1 (3474547535.py, line 2)

In [ ]:
if True:
    pass

print('foo')

foo

# Python While Loops

In [ ]:
n = 9
while n > 5:
    n -= 1
    print(n)

8
7
6
5

In [ ]:
n = 0
while n < 9:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8

## The Python Break and Continue Statements

In [ ]:
a = 7
while a > 0:
    a -= 1
    if a == 2:
        break
    print(a)
print('loop ended.')

6
5
4
3
loop ended.

In [ ]:
a = 7
while a > 0:
    a -= 1
    if a == 2:
        continue
    print(a)
print('loop done.')

6
5
4
3
1
0
loop done.

# The Else Clause

In [ ]:
b = 11
while b > 0:
    b -= 1
    print(b)
else:
    print('loopingnya udah.')

10
9
8
7
6
5
4
3
2
1
0
loopingnya udah.

In [ ]:
b = 11
while b > 0:
    b -= 1
    print(b)
    if b == 3:
        break
else:
    print('loopingnya terhenti :p')

10
9
8
7
6
5
4
3

# Infinite Loops

In [5]:
# while True:
  #print('doo')
  #tidak dijalankan karena pengulangannya akan terus terjadi

### Additional aku

In [ ]:
print(100 * "wkwk")

wkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwk

# Nested While Loops

In [ ]:
age = 13
gender = 'M'

if age < 16:
    if gender == 'M':
        print('son')
    else:
        print('doughter')
elif age >= 16 and age < 60:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print ('grandfather')
    else:
        print('grandmother')

son

In [ ]:
age = 45
gender = 'F'

if age < 16:
    if gender == 'M':
        print('son')
    else:
        print('doughter')
elif age >= 16 and age < 60:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print ('grandfather')
    else:
        print('grandmother')

mother

In [ ]:
age = 80
gender = 'M'

if age < 16:
    if gender == 'M':
        print('son')
    else:
        print('doughter')
elif age >= 16 and age < 60:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print ('grandfather')
    else:
        print('grandmother')

grandfather

In [ ]:
b = ['aku', 'kamu']

while len(b):
    print(b.pop(0))

    v = ['dai', 'go']

    while len(v):
        print('>',v.pop(0))

aku
> dai
> go
kamu
> dai
> go

# One-Line While Loops

In [ ]:
g = 6
while g > 0:
    g -= 1
    print(g)

5
4
3
2
1
0

In [ ]:
g = -6
while g > 0:
    g -= 1
    print(g)

In [ ]:
g = 6
while g > 0:
    g -= 1
print(g)  #nyoba blok ke kolom utama

0

# Survey Definite Iteration

### Numeric Range Loop

In [ ]:
for i = 1 to 13
    <loop body>

SyntaxError: invalid syntax (3304079368.py, line 1)

### Three-expression loop

In [ ]:
for (i = 1; i <= 13; 1++):
    <loop body>

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2232789328.py, line 1)

### Nyoba for dari referensi lain

In [ ]:
for i in range (1,13):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

###  Collection-based or iterator-based loop

In [ ]:
for i in <collection>
    <loop body>

# The Python For Loop

In [3]:
x = ['adi', 'tya', 'darma']
for i in x:
    print(i)

adi
tya
darma

In [15]:
y = {'adi':1, 'tya':2, 'darma':3} #kenapa kurung biasa dengan kurawal itu berbeda
for c in y:
    print(c)

adi
tya
darma

In [14]:
for c in y:
    print(y[c])

1
2
3

In [16]:
for c in y.values():
    print(c)

1
2
3

In [18]:
for c, v in y.items():
    print(c, ":", v)

adi : 1
tya : 2
darma : 3

###  Iteration Through Dictionary

In [19]:
for v in y.values():
    print(v)

1
2
3

### The Range () Function

In [20]:
for d in (0, 1, 2, 3, 4):
    print(d)

0
1
2
3
4

In [21]:
e = range(10)

In [22]:
for f in e:
    print(f)

0
1
2
3
4
5
6
7
8
9

## Altering for Loop Behavior

### The Break and Continue Statements

In [31]:
for g in ['adi', 'tya', 'darma', 'dasa']: #outputnya berhenti di yang ada huruf "t"
    if 't' in g:
        break
    print(g)

adi

In [32]:
for g in ['adi', 'tya', 'darma', 'dasa']: #outputnya melewati yang ada "t"
    if 't' in g:
        continue
    print(g)

adi
darma
dasa

### The Else Clause

In [35]:
for j in ['adi', 'tya', 'darma', 'wan']:
    print(j)
else:
    print('done.') #execute when loop is end

adi
tya
darma
wan
done.

In [38]:
for j in ['adi', 'tya', 'darma', 'wan']:
    if j == 'darma':
        break
    print(j)
else:
    print('done.') #tidak ddieksekusi karena loopnya tidak sampai akhir

adi
tya

# Contoh Penggunaan

In [ ]:
temp = input("Ketikan temperatur yang akan di konversi (eg: 40F, 122C) :")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5/9 ))
else:
    print("masukan input yang benar!")
print("Temperaturnya adalah ", result, "derajat")