# Kelompok 3 - PYTN KS 18

In [4]:
# Import numpy with alias np and pandas alias pd
import numpy as np
import pandas as pd

In [6]:
# Load dataset
sales = pd.read_csv('04. sales_subset.csv')

In [8]:
# Print the head of the sales DataFrame
print(sales.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [38]:
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [40]:
# Print the info about the sales DataFrame
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [10]:
# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

23843.95014850566

In [11]:
# Print the median of weekly_sales
print(sales['weekly_sales'].median())

12049.064999999999

In [12]:
# Print the maximum of the date column
print(sales['date'].max())

2012-10-26

In [13]:
# Print the minimum of the date column
print(sales['date'].min())

2010-02-05

In [15]:
# Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

16.583333333333336

In [16]:
# Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [17]:
# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [43]:
# Drop duplicate store/type combinations
# You can use the .drop_duplicates() method.
store_types = sales.drop_duplicates(subset=['store','type'])
store_types.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765

In [44]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store','department'])
store_depts.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
12,12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
24,24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
36,36,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
48,48,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

In [21]:
# Subset the rows where is_holiday is True and drop duplicate dates
# The subset argument takes a column name or a list of column names.
holiday_dates = sales[sales['is_holiday']==True].drop_duplicates('date')

In [22]:
# Print date col of holiday_dates
print(holiday_dates['date'])

498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

In [23]:
# Count the number of stores of each type
# Select the type column of store_types, then call .value_counts().
store_counts = store_types['type'].value_counts()
print(store_counts)

type
A    11
B     1
Name: count, dtype: int64

In [24]:
# Select the department column of store_depts and call .value_counts().
# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize=True)
print(store_props)

type
A    0.916667
B    0.083333
Name: proportion, dtype: float64

In [25]:
# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
print(dept_counts_sorted)

department
1     12
55    12
72    12
71    12
67    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64

In [ ]:
# Get the proportion of departments of each number and sort
# To calculate proportions, set normalize to True in .value_counts().
# To sort the counts, set sort to True.
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

In [ ]:
# Calculate the total weekly_sales over the whole dataset.
# For overall sales, select the "weekly_sales" column, then calculate the sum
sales_all = sales["weekly_sales"].sum()

In [26]:
# Subset for type A stores, calc total weekly sales
# For store type-specific sales, use a Boolean condition like sales["type"] == "some_value" to subset, before selecting the sales column and calculating the sum.
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

In [27]:
# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

In [28]:
# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

In [45]:
# Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.
# You can divide the whole list by sales_all.
sales_propn_by_type = [sales_A, sales_B, sales_C] / (sales_A+sales_B+sales_C)
sales_propn_by_type

array([0.9097747, 0.0902253, 0.       ])

In [30]:
# Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

In [46]:
# Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.
sales_propn_by_type = sales_by_type/sum(sales.weekly_sales) 
sales_propn_by_type

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [47]:
# Group sales by "type" and "is_holiday", take the sum of weekly_sales, and store as sales_by_type_is_holiday.
sales_by_type_is_holiday = sales.groupby(["type",'is_holiday'])["weekly_sales"].sum()
sales_by_type_is_holiday

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [48]:
# Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!
# .agg() can take in a list of functions. The functions shouldn't be called, so don't use parentheses with them.
# Remember to .groupby() before selecting columns.
# Multiple column selection can be done with double-brackets, df[["col_a", "col_b"]].
# Note that the column name is fuel_price_usd_per_l with a lowercase "L" at the end, not the number 1.
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])

C:\Users\darma\AppData\Local\Temp\ipykernel_14632\2750577564.py:6: FutureWarning: The provided callable <function min at 0x000001C4A89D8220> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\2750577564.py:6: FutureWarning: The provided callable <function max at 0x000001C4A89D80E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'max' instead.
  sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\2750577564.py:6: FutureWarning: The provided callable <function mean at 0x000001C4A89D8AE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\2750577564.py:6: FutureWarning: The provided callable <function median at 0x000001C4B6B00400> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])

In [49]:
# Print sales_stats
sales_stats

         min        max          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08

In [36]:
# Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])

C:\Users\darma\AppData\Local\Temp\ipykernel_14632\4109156113.py:2: FutureWarning: The provided callable <function min at 0x000001C4A89D8220> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\4109156113.py:2: FutureWarning: The provided callable <function max at 0x000001C4A89D80E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'max' instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\4109156113.py:2: FutureWarning: The provided callable <function mean at 0x000001C4A89D8AE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\4109156113.py:2: FutureWarning: The provided callable <function median at 0x000001C4B6B00400> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])
C:\Users\darma\AppData\Local\Temp\ipykernel_14632\4109156113.py:2: FutureWarning: The provided callable <function min at 0x000001C4A89D8220> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])

In [37]:
# Print unemp_fuel_stats
print(unemp_fuel_stats)

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348