# Defining Function

In [1]:
def my_function(p,l):
    "function hitung luas persegi panjang"
    print(p*l)

In [2]:
my_function(5,6)

30

In [3]:
def printme(str):
    "this prints to string output"
    print(str)
    return

In [4]:
printme("i'm student")

i'm student

In [5]:
def printme(str):
    print(str)
    return

In [6]:
printme('bababaa')

bababaa

# Calling Function

In [8]:
def printme(str):
    "passed string into this function"
    print(str)
    return;
printme("i've been tryng this function")
printme("is that true for this fuction")

i've been tryng this function
is that true for this fuction

# Pass by Reference vs Value

In [1]:
def change(mylist):
    mylist.append([1,2,3,4]);
    print('value dalam fungsi: ', mylist)
    return

mylist = [5,6,7]
change(mylist)
print('value dalam fungsi: ', mylist)

value dalam fungsi:  [5, 6, 7, [1, 2, 3, 4]]
value dalam fungsi:  [5, 6, 7, [1, 2, 3, 4]]

In [2]:
def change(mylist):
    mylist = [1,2,3,4];
    print('value dalam fungsi: ', mylist)
    return

mylist = [5,6,7];
change(mylist);
print('value dalam fungsi: ', mylist)

value dalam fungsi:  [1, 2, 3, 4]
value dalam fungsi:  [5, 6, 7]

# Function Argument

In [5]:
def myname( str ):
    print(str)
    return

In [6]:
myname(str = "aditya")

aditya

In [1]:
def info(name, age):
    print("Nama: ", name)
    print("Umur: ", age)
    return;

In [2]:
info(name = "aditya", age = "20")

Nama:  aditya
Umur:  20

### Default Arguments

In [4]:
def info(name, age = 25):
    print("Nama: ", name)
    print("Umur: ", age)
    return;

In [5]:
info(name = "aditya")

Nama:  aditya
Umur:  25

In [6]:
info(name = "arif", age = 22)

Nama:  arif
Umur:  22

### Variable Length Arguments

In [10]:
def hewan(arg1, *vartuple):
    print("outputnya adalah: ")
    print(arg1)
    for var in vartuple:
        print(var)
    return

hewan("kelinci")

outputnya adalah:
kelinci

# The Anonymous Function

In [3]:
sum = lambda arg1, arg2: arg1 + arg2;   #skip dulu

def sum(arg1, arg2):
    arg1 + arg2
    return
    
print("value total: ", sum(10, 40))
print("value total: ", sum(15, 55))   #kenpa hasilny none

value total:  None
value total:  None

# The Return Statement

In [17]:
def sum(arg1, arg2):
    total = arg1 + arg2
    total2 = total + arg1
    print("inside function: ", total)
    return total2

total = sum(15,29)
print("value total: ", total)

inside function:  44
value total:  59

# Scope of Variables

In [31]:
total = 5;

def sum(arg1, arg2):
    
    total = arg1, arg2;
    print("inside function total: ", total)
    return total;

def min():
    
    sum(10, 20); #kalo tidak diberi intendent, sintax error
print("outside fonction gobal total: ", total)

outside fonction gobal total:  5

In [39]:
kucing = 25

def hewan():
    anjing = 12
    return kucing + anjing

def kerbau():
    return kucing + kucing

hewan()
kerbau()

50

In [ ]:
s